<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Persona_DB.Properties.Settings.CadenaPersona" connectionString="Data Source=LocalHost;Initial Catalog=DBPersona;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>